
    <div class="bottom-nav">
        <div class="footer">
            <a class="footer-left" href="/">
                <img src="assets/klubilogo.png" height="90">
                <span class="logo-text">Hiking<br>Club</span>
            </a>
            <nav class="bottom-nav-links">
                <a class="nav-link text-dark text-uppercase" href="#">Home</a>
                <a class="nav-link text-dark text-uppercase" href="#">Upcoming treks</a>
                <a class="nav-link text-dark text-uppercase" href="#">Trek for family</a>
                <a class="nav-link text-dark text-uppercase" href="contact.html">Contact us</a>
            </nav>
          </div>
          <div class="nav-bottom">
              <div class="contact">
                <p class="call-now">
                    Call now
                </p>
                <p class="phone-number">
                    1800 888 555
                    </p>
              </div>
              <p class="copyright"> © Company name 2020. All rights reserved.</p>
              <ul class="social-icons">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-whatsapp"></i>
              </ul>
          </div>
    </div>
