<div class="header">
  <a class="header-left" href="/">
      <img src="assets/klubilogo.png" height="90">
      <span class="logo-text">Hiking<br>Club</span>
  </a>
  <nav class="nav">
      <a class="nav-link text-dark text-uppercase" href="/">Home</a>
      <a class="nav-link text-dark text-uppercase" href="/treks">Upcoming treks</a>
      <a class="nav-link text-dark text-uppercase" href="#">Trek for family</a>
      <a class="nav-link text-dark text-uppercase" href="/contact">Contact us</a>
  </nav>
</div>