body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.header-section {
  background-image: url('../assets/hills.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 37px 72px 140px;
  margin-bottom: 300px;
}

.header-left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  font-size: 33px;
  font-weight: 800;
  color: #0B0B0B;
  width: 126px;
  word-wrap: normal;
  line-height: 1;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > nav {
  display: flex;
  align-items: center;
}

.header > nav > a {
  color: #000;
  letter-spacing: 2.67px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16.67px;
}

.header > nav > a:hover {
  color: #444;
}

.hero-content {
  margin-top: 230px;
  position: relative;
}

.hero-content > h1,
.hero-content > h2,
.hero-content > h4 {
  font-weight: 800;
  text-transform: uppercase;
  color: #0B0B0B;
}

.hero-content > h2 {
  font-size: 39.57px;
}

.hero-content > h1 {
  font-size: 74.39px;
}

.hero-content h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 74.39px;
  color: #0B0B0B;
}

.hero-content > h4 {
  font-size: 20.83px;
  width: 477px;
  line-height: 29.17px;
}

.hero-content > button {
  margin-top: 30px;
  font-size: 12.5px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  color: #FFFFFF;
  background: #0B0B0B 0% 0% no-repeat padding-box;
  padding: 24px 22.5px 21px;
  border: 0;
}

.person {
  width: 800px;
  height: 800px;
  background-image: url('../assets/person.png');
  background-size: cover;
  background-position-x: center;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  right: -280px;
  z-index: 1;
}


.shadow {
  width: 750px;
  height: 90px;
  background: transparent url('../assets/shadow.png') 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position-x: center;
  border-radius: 50%;
  position: absolute;
  bottom: -350px;
  right: -280px;
}

.relative {
  position: relative;
}

.butterfly1 {
  position: absolute;
  top: -100px;
  left: 520px; 
}

.butterfly2 {
  position: absolute;
  top: 15px;
  left: -40px;
}

.treks-section {
  display: flex;
  margin-left: 80px;
  flex-direction: row;
  height: 650px;
}

.treks-section .treks-description h2 {
  color: grey;
  font-weight: 600;
  text-transform: uppercase;
}

.treks-section .treks-description h1 {
  text-transform: capitalize;
  color: #000000;
  font-weight: 600;
}

.treks-section .treks-description p {
  color: #3D3D3D;
  font-weight: 400;
  position: relative;
  padding-top: 5%;
  
}

.treks-section-left {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.treks-section-top-left {
  flex-grow: 1;
}
.treks-section-bottom-left {
  flex-grow: 0;
  padding-bottom: 150px;
}

.treks-section-left .treks-description {
  top: -150px;
  position: relative;
}

.treks-section-right {
  position: relative;
}
.treks-section-right .inner-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.person-list {
  display: flex;
  justify-content: flex-end;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  padding-left: 175px;
}

.img-gallery > img {

   width: 309px; 
   height: 406px; 
  margin: 34px;
  object-fit: cover;
}

.paginator-arrows {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6px;
  padding-top: 25px;
}


.current {
  font-weight: 400;
  font-size: 33.33px;
  color: #000000;
  padding-left: 15px;
}

.total {
  font-weight: 400;
  font-size: 20.83px;
  color: grey;
  padding-left: 10px;
}



.paginator-arrows > .total {
  padding-top: 10px;
  font-weight: 400;
  font-size: 33.33px;
  color: #9A9A9A;
  margin-top: 5px;
}

.bi-arrow-left {
  font-size: 64px;
  padding-bottom: 10px;
}

.bi-arrow-right {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 64px;
  font-weight: 400;
  color: #9A9A9A;
}



.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bottom-left {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.copyright {
  color: #010101;
  font-size: 16.67px;
}

.social-icons {
  font-size: 2rem;
  margin-right: 17px;
}

.bottom-nav {
  background: #F3F3F3 0% 0% no-repeat padding-box;
}

.footer-left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.bottom-nav {
  padding-left: 25px;
}

.bottom-nav-links {
  display: flex;
  align-items: center;
}

.bottom-nav-links > a {
  color: #000;
  letter-spacing: 2.67px;
  font-weight: 600;
  text-decoration: none;
  font-size: 16.67px;
}

.contact {
  padding-left: 20px;
}

.nav-bottom > .contact > .call-now {
  display: block;
  text-align: center;
  border-style: solid;
  border-width: thin;
  background-color: #000;
  color: #fff;
  font-size: 22.37px;
}

.nav-bottom > .contact > .phone-number {
  display: block;
  border-style: solid;
  border-width: thin;
  background-color: #000;
  color: #fff;
  font-size: 32.69px;
} 

.container {
  padding-bottom: 50px;
}