<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="">
    <div class="container-fluid header-section">
      <%- include ("../partials/nav.ejs") %>
        <div class="hero-content">
            <h2>Climb for better</h2>
            <div class="relative">
                <h1>Get out now</h1>
                <div class="butterfly1">
                    <img src="assets/butterfly.png" />
                </div>
                <div class="butterfly2">
                    <img src="assets/butterfly2.png" />
                </div>
            </div>
            <h4>Join us for the weekend to climb the highest peak in England</h4>
            <button>View upcoming treks</button>
            <div class="person"></div>
            <div class="shadow"></div>
        </div>
    </div>
    <div class="treks-section">
        <div class="treks-section-left">
            <div class="treks-section-top-left">
                <div class="treks-description">
                    <h2>Choose</h2>
                    <h1>These best <br>treks for spring</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna <br>aliqua. Quis ipsum su spendisse ultrices <br>gravida. Risus commodo viverra maec <br>enas accumsan lacus vel facilisis.</p>
                </div>
            </div>
            <div class="treks-section-bottom-left">
                <div class="paginator-arrows">
                    <i class="bi bi-arrow-left"></i>
                    <div><span class="current">01</span><span class="total">/06</span></div>                    
                    <i class="bi bi-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="treks-section-right">
            <div class="inner-container">
                <div class="img-gallery">
                    <img src="./assets/1.png">
                    <img src="./assets/2.png">
                    <img src="./assets/3.png">
                </div>
            </div>
     </div>
</div>
    <%- include ("../partials/footer.ejs") %>

</body>
</html>
