<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <div class="">
      <div class="container-fluid header-section">
        <%- include ("../partials/nav.ejs") %>
      </div>
      <div class="container text-center">
        <h1><%= message %></h1>
      </div>
    </div>
  </body>
</html>
